.gradient-background {
    background: linear-gradient(300deg, #001C30, #176B87, #64CCC5);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }